body {
  background-color: #1b1035;
  color: #46d5da;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* ----------------------------------------------- */
/*                   COLOR PALETTE  	           */
/* ----------------------------------------------- */
/* 
#1b1035 Dark Violet
#6b40ad Violet
#1ba2f6 Light Blue
#b44051 Red
#317abb Blue
#e73cb8 Pink
#2e7a5d Dark Green
#3be280 Light Green
#755024 Brown
#fcc115 Yellow
#ffc107 Orange
 */

/* ----------------------------------------------- */
/*                   GLOBAL ELEMENTS  	           */
/* ----------------------------------------------- */

h1 {
  color: #e73cb8;
  font-size: 2.5rem;
  text-shadow: 0 0 1px rgba(50, 251, 226, 0.6), 0 0 3px rgba(50, 251, 226, 0.5),
    0 0 0.5rem rgba(50, 251, 226, 0.3), 0 0 2rem rgba(50, 251, 226, 0.2);
}

h2 {
  text-shadow: 0 0 1px rgba(50, 251, 226, 0.6), 0 0 3px rgba(50, 251, 67, 0.5),
    0 0 0.5rem rgba(50, 251, 226, 0.3), 0 0 2rem rgba(50, 251, 226, 0.2);
}

.main-container {
  align-items: center;
  text-align: center;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

button {
  color: #fff;
  font-size: 1rem;
  border-radius: 0.15rem;
  padding: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  width: 20%;
}

button:disabled {
  background: #073322;
}

input {
  width: 80%;
  background: #30115e;
  border: 0 solid #ced4da;
  border-radius: 0.15rem;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

input:focus {
  border: 0.5px solid #6b40ad;
}

a {
  text-decoration: none;
  color: #ced4da;
}

a:hover {
  color: #fff;
}

/* ----------------------------------------------- */
/*                   LOADING OVERLAY	           */
/* ----------------------------------------------- */

.loading-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--base);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #dcdcdc;
  border-left: 5px solid var(--base);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: spinner infinite 0.5s;
  -webkit-animation: spinner infinite 0.5s;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/* ----------------------------------------------- */
/*                MEDIA QUERIES                    */
/* ----------------------------------------------- */

@media only screen and (min-width: 768px) {
  .main-container {
    margin-top: 20%;
  }
  input {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .main-container {
    margin-top: 15%;
    width: 50%;
  }
  input {
    width: 80%;
  }
}
