body {
  background-color: #1b1035;
  color: #46d5da;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

/* ----------------------------------------------- */
/*                   GLOBAL ELEMENTS  	           */
/* ----------------------------------------------- */

h1 {
  color: #e73cb8;
  font-size: 2.5rem;
  text-shadow: 0 0 1px rgba(50, 251, 226, 0.6), 0 0 3px rgba(50, 251, 226, 0.5),
    0 0 0.5rem rgba(50, 251, 226, 0.3), 0 0 2rem rgba(50, 251, 226, 0.2);
}

h2 {
  text-shadow: 0 0 1px rgba(50, 251, 226, 0.6), 0 0 3px rgba(50, 251, 67, 0.5),
    0 0 0.5rem rgba(50, 251, 226, 0.3), 0 0 2rem rgba(50, 251, 226, 0.2);
}

button {
  color: #fff;
  font-size: 1rem;
  border-radius: 0.15rem;
  padding: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  width: 20%;
}

button:disabled {
  background: #073322;
}

input {
  width: 80%;
  background: #30115e;
  border: 0 solid #ced4da;
  border-radius: 0.15rem;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

input:focus {
  border: 0.5px solid #6b40ad;
}

a {
  text-decoration: none;
  color: #ced4da;
}

a:hover {
  color: #fff;
}

/* ----------------------------------------------- */
/*                MEDIA QUERIES                    */
/* ----------------------------------------------- */

@media only screen and (min-width: 768px) {
  input {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  input {
    width: 80%;
  }
}
